body {
    background-color:rgba(255,0,0,0.3);
}
img {
            width: 400px;
}
        
p {
            color: brown;
            font-size: 18px;
            font-style: italic;
            text-align: center;
}
 h1 {
     color: orange;
 }   

li {
    font-size: 14px;
    color: brown;
}

div {
    background-color: grey;
    border-color: black;
    border-width: 2px;
    border-bottom-style: solid;
   
}

#header {
    height: 20px;
}

